/* Global 
기본적으로 사용할 css 요소는 미리 설정해 놓는 것이 좋다.*/

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimaition */
  --animation-duration: 300ms;
}

/* 기본 설정 */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Nabvar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: var(--color-white);
  background-color: transparent;
  transition: var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar-dark {
  background-color: var(--color-pink);
  padding: 8px;
}

/* #navbar img {
  width: 20px;
  background: var(--color-light-white);
  border-radius: 50px;
} */

.navbar_menu {
  display: flex;
}

.navbar_logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar_menu_item.active {
  border: 1px solid var(--color-white);
}

.navbar_menu_item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-pink);
}

.navbar_toggle-btn {
  position: absolute;
  display: none;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
}

#home {
  background: url("./imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home_title
/* ,.home_description  */ {
  color: var(--color-white);
}

.home_contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home_contact:hover {
  background-color: var(--color-orange);
}

/* Section common */
.section {
  margin: auto;
  padding: 50px;
  text-align: center;
}
.section_container {
  margin: auto;
  max-width: 1200px;
}
/* About */
.about_majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major_icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major_icon i {
  transition: all var(--animation-duration) ease;
}

.major_icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major_title {
  color: var(--color-dark-grey);
}

.job {
  display: flex;
  align-items: center;
}

.job_description {
  margin-right: 0 16px;
  text-align: left;
}

.job_name,
.job_period {
  color: var(--color-dark-grey);
}

.job_name {
  font-size: var(--font-small);
}

.job_period {
  font-size: var(--font-micro);
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset_title {
  color: var(--color-white);
}

.skill_description {
  display: flex;
  justify-content: space-between;
}
.skill {
  padding-bottom: 10px;
}
.skill_bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill_value {
  height: 3px;
  background-color: var(--color-orange);
}
.skillset_left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skillset_right {
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

.work_categories {
  margin: 40px;
}
.category_btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category_btn.selected,
.category_btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category_btn.selected .category_count,
.category_btn:hover .category_count {
  opacity: 1;
  top: 0;
}

.category_count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work_projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  position: relative;
}

.project.invisible {
  display: none;
}

.project_img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
.project_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project_description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project_description h3 {
  color: var(--color-orange);
}

.project_description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Cntact */

#contact {
  background-color: var(--color-dark-pink);
}

.contact_title,
.contact_email {
  color: var(--color-white);
}

.contact_title {
  margin: 32px 0;
}

.contact_links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact_links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* 768px screen */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar_toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  #navbar.navbar-dark {
    padding: 16px;
  }
  .navbar_menu {
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .navbar_menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }
  .about_majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }
  .category_btn {
    margin: 4px 0;
    width: 50%;
  }
  .project {
    flex-grow: 1;
  }
  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
